<!DOCTYPE html>
<html lang="en-gb">
  <head>
      <meta charset="utf-8">
      <meta content="ie=edge" http-equiv="x-ua-compatible">
      <meta content="width=device-width, initial-scale=1" name="viewport">
      <link type="text/css" href="{{{ bundle.css }}}" rel="stylesheet" />
  </head>
  <body>
      <div id="root"></div>
      <script>
          window.__ENV_CONSTS__ = {{{ windowObject }}};
      </script>
      <script src="{{{ bundle.js }}}"></script>
  </body>
</html>
